{% extends "development/layout.html" %}

{% block body %}
    <body>
    <div label="instructions">
        {{ instructions }}
    </div>
    <a href="{% url 'task' %}">Get Going!</a>
    </body>
{% endblock %}