<!DOCTYPE html>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'development/style.css' %}">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alien Objects</title>
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>