{% extends "development/layout.html" %}


{% block body %}

    {{ valid_keys|json_script:"valid_keys" }}
    <script type="text/javascript">
        var valid_keys = JSON.parse(document.getElementById('valid_keys').textContent);
    </script>

    <script >
    function post(key_pressed) {
        const form = document.querySelector('form');
        form.method = 'POST';
        form.elements.key_pressed.value = key_pressed;
        form.submit();
    }

    document.addEventListener('DOMContentLoaded', function () {
        document.onkeypress = function(e) {
            let key_pressed = e.key;
            if (key_pressed && valid_keys.includes(key_pressed)) {
                {#document.querySelector('#result').innerHTML = `Works! Key is ${key_pressed}`;#}
                post(key_pressed);
            }
        }
    });
    </script>

    <div id="image_shown">
        <img src="{{ stimulus_url }}">
    </div>

    <h2>Shake (press 'v'), slap (press 'b'), or kick (press 'n')</h2>

    <form action="{% url 'task' %}" method="post">
        {% csrf_token %}
        {{ form }}
    </form>

{% endblock %}