{% extends "development/layout.html" %}

{% block body %}
    <h1>Welcome to the Alien Objects task! </h1>
    <body>
    <div label="welcome">
    Please enter your identification number and select where you are coming from.
    If you want to get the money, make sure you give us the right source.
    </div>
    <form action="{% url 'welcome' %}" method="post" class="pure-form pure-form-aligned">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="Submit">

    </form>
    </body>
{% endblock %}