body {
    background: black;
    color: whitesmoke;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}

div {
    color: whitesmoke;
    font-size: larger;
    padding-bottom: 40px;
}

h2 {
    color: whitesmoke;
    font-size: large;
}

img {
    width: 250px;
}

a:link {
    color: limegreen;
}

a:visited {
    color: darkred;
}